$font_name: 'Montserrat';
$font-path_name: $font_name;

// Static colors
$white: #ffffff;
$sunrise: #ffccbb;
$blue-topaz: #6eb5c0;
$cerulean: #006c84;
$icicle: #e2e8e4;

// Project colors
$main_color: $icicle;
$accent_color: $sunrise;
$dark_color: $cerulean;
$bg_color: #1a7c92;
